@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: Arial, sans-serif, Roboto;
  background-color: #024786;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 400px;
  background: linear-gradient(145deg, #04d939, #00e3cc);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.suggestions {
  position: absolute;
  color: #f5eded;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgb(66, 66, 66);
  border-top: none;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestions div {
  padding: 10px;
  cursor: pointer;
}

@media (max-height: 400px) {
    body {
      align-items: flex-start;
      padding-top: 20px;
    }
}

.suggestions div:hover {
  background-color: #050358;
  
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #fafafa;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 8px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: darkred;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    padding: 15px;
  }
}
